In [2]:
squares=[1,4,9,16,25]
print(squares)

[1, 4, 9, 16, 25]

In [3]:
squares[0]

1

In [4]:
squares[-4]

4

In [5]:
squares[:3]

[1, 4, 9]

In [6]:
squares[3:]

[16, 25]

In [7]:
squares[-3:]

[9, 16, 25]

In [8]:
squares[:]

[1, 4, 9, 16, 25]

In [9]:
cubes=[1,8,27,65,125]          //indexing,slicing,appending//
4 ** 3
cubes[3]=64
cubes

SyntaxError: invalid syntax (<ipython-input-9-26430bf39b4b>, line 1)

In [ ]:
cubes.append(216)

In [ ]:
cubes

In [ ]:
cubes.append(7 ** 3)
cubes

In [ ]:
letters=['a','b','c','d','e','f','g']
letters

In [ ]:
letters[2:5]=['c','D','E']
letters

In [ ]:
letters[:]

In [ ]:
letters=['a','b','c','d','e']
len(letters)

In [ ]:
edward=['edward gumby',42]
john=['john smith',50]
database=[edward,john]
database

In [ ]:
a=['a','b','c']
n=[1,2,3]
x=[a,n]
x

In [ ]:
x[0]

In [ ]:
x[0][1]

In [ ]:
months=['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
weeks=['st','sun','mnd','tue','wed','thur','fri','sat']
weeks=['st','sun','mnd']+17*['tue']+['st','sun','mnd']+7*['tue']+['st']
print(weeks)

day=input('day(1-31):')

month=input('month(1-12)')

year=input('year:')
month_number=int(month)
day_number=int(day)

month_name=months[month_number-1]
ordinal=day+weeks[day_number-1]
print(month_name +' ' + ordinal +','+ year)

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
numbers[0:10:2]

In [ ]:
numbers[3:6:3]

In [ ]:
numbers[::4]

In [ ]:
numbers[8:3:-1]

In [ ]:
numbers[10:0:-2]

In [ ]:
numbers[::-2]

In [ ]:
numbers[0:10:-2]

In [ ]:
numbers[5::-2]

In [ ]:
numbers[:5:-2]

In [ ]:
numbers[-3:]

In [ ]:
numbers[:3]

In [ ]:
[1,2,3]+[4,5,6]

In [ ]:
'hello,'+'world!'                                          //sequences adding,multiplication membership

In [ ]:
'python'*4

In [ ]:
[42]*10

In [ ]:
permissions='rw'
'w'in permissions

In [ ]:
users=['ram','sham','bhim']
input("enter the user name:")in users

In [ ]:
subjects='$$$ get rich now!!! $$$'
'$$$'in subjects

In [10]:
database=['amar','1234'],['raj','4567'],['rani','9765']
username=input('user name:')

user name:amar

In [11]:
pin=input('pin code:')

pin code:1234

In [12]:
if[username,pin]in database:print('access granted')

access granted

In [1]:
numbers=[100,34,678]
len(numbers)

3

In [2]:
max(numbers)

678

In [3]:
min(numbers)

34

In [5]:
numbers.sort()

In [6]:
numbers

[34, 100, 678]

In [9]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [10]:
x=[1,1,1]
x[1]=2
x

[1, 2, 1]

In [11]:
names=['alice','beth','cecil','dee-dee','earl']
del names[2]
names

['alice', 'beth', 'dee-dee', 'earl']

In [12]:
name=list('perl')
name

['p', 'e', 'r', 'l']

In [13]:
name[2:]=list('ar')
name

['p', 'e', 'a', 'r']

In [14]:
name[1:]=list('ython')

In [15]:
name

['p', 'y', 't', 'h', 'o', 'n']

In [17]:
numbers=[1,5]
numbers[1:1]=[2,3,4]
numbers

[1, 2, 3, 4, 5]

In [18]:
numbers[1:4]=[]
numbers

[1, 5]

In [23]:
lst=[1,2,3]                                                 
lst.append(4)
lst

[1, 2, 3, 4]

In [24]:
['to','be','or','not','to','be'].count('to')

2

In [25]:
x=[[1,2],1,1,[2,1,[1,2]]]

In [27]:
x.count(1)

2

In [28]:
x.count([1,2])

1

In [29]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [30]:
a=[1,2,3]
a+b
a

[1, 2, 3]

In [33]:
a=[1,2,3]
b=[4,5,6]
a[len(a):]=b
a

[1, 2, 3, 4, 5, 6]

In [1]:
lst=[1,2,3]
lst.clear()
lst

[]

In [2]:
a=[1,2,3]
b=a
b[1]=4
a

[1, 4, 3]

In [3]:
a=[1,2,3]
b=a.copy()
b[1]=4
a

[1, 2, 3]

In [4]:
knights=['we','are','the','knights','who','say','ni']
knights.index('who')

4

In [5]:
list2=['hello','bye','he','thee','mine']
list2.index('he')

2

In [6]:
numbers=[1,2,3,4,5,6,7]
numbers.insert(3,'four')
numbers

[1, 2, 3, 'four', 4, 5, 6, 7]

In [7]:
numbers[3:3]=['four']
numbers

[1, 2, 3, 'four', 'four', 4, 5, 6, 7]

In [8]:
x=[1,2,3]
x.pop()

3

In [9]:
x

[1, 2]

In [10]:
x.pop(0)

1

In [11]:
x

[2]

In [12]:
x=['to','be','or','not','to','be']
x.remove('to')
x

['be', 'or', 'not', 'to', 'be']

In [13]:
x=[1,2,3]
x.reverse()
x

[3, 2, 1]

In [14]:
x=[4,6,7,3,8,2,9,1]
x.sort()
x

[1, 2, 3, 4, 6, 7, 8, 9]

In [15]:
y=x.sort()

In [16]:
print(y)

None

In [17]:
y=x[:]

In [18]:
y.sort()
x

[1, 2, 3, 4, 6, 7, 8, 9]

In [19]:
y

[1, 2, 3, 4, 6, 7, 8, 9]

In [20]:
x=[1,2,3]
list(reversed(x))

[3, 2, 1]

In [21]:
x=[4,6,2,1,7,9]
y=sorted(x)
x

[4, 6, 2, 1, 7, 9]

In [22]:
x

[4, 6, 2, 1, 7, 9]

In [23]:
y

[1, 2, 4, 6, 7, 9]

In [24]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [25]:
x=['aaradhya','aadil','acme','add','aerate']
x.sort(key=len)
x

['add', 'acme', 'aadil', 'aerate', 'aaradhya']

In [26]:
x=[4,6,2,1,7,9]
x.sort(reverse=True)
x

[9, 7, 6, 4, 2, 1]