In [1]:
n=input()
l=n.split(',')
t=tuple(l)
print(l)
print(t)

1 2 3 4 6 7
['1 2 3 4 6 7']
('1 2 3 4 6 7',)

In [23]:
def square(num):
    return num ** 2
print(square(3))

9

In [28]:
def sumfunction(num1,num2):
      return num1+num2
print(sumfunction(8,7))

15

In [34]:
def printvalue(n):
    print(int(n))
printvalue(8)

8

In [37]:
def printvalue(s1):
    print(int(s1))
printvalue('4')

4

In [6]:
def printvalue(l1,l2):
    len1=len(l1)
    len2=len(l2)
    if len1>len2:
        print(l1)
    elif len2>len1:
        print (l2)
    else:
        print(l1)
        print(l2)
printvalue("one","nine")

nine

In [16]:
def printvalue(s1,s2):
    len1=len(s1)
    len2=len(s2)
    if len1<len2:
        print (s1)
    elif len2<len1:
        print (s2)
    else:
            print(s1)
            print(s2)
printvalue("four","six")

six

In [19]:
def printvalue():
    d=dict()
    d[1]=1**1
    d[2]=2**2
    d[3]=3**2
    print(d)

printvalue()

{1: 1, 2: 4, 3: 9}

In [28]:
def printvalue():
    d=dict()
    for i in range(1,21):
        d=i**2
        print(d,end =",")
printvalue()

1,4,9,16,25,36,49,64,81,100,121,144,169,196,225,256,289,324,361,400,

In [29]:
def printvalue():
    d=dict()
    for i in range(1,21):
        d[i]=i**2
    for k in d.keys():
        print(k)
            
printvalue()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [40]:
def printvalue():
    li=list()
    for i in range(1,20):
        li.append(i**2)
    print(li)
printvalue()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [42]:
def printvalue():
    li=list()
    for i in range(1,20):
        li.append(i**2)
    print(li[:5])
            
printvalue()

[1, 4, 9, 16, 25]

In [43]:
def printvalue():
    li=list()
    for i in range(1,20):
        li.append(i**2)
    print(li[-5:])
printvalue()

[225, 256, 289, 324, 361]

In [46]:
def printvalue():
    li=list()
    for i in range(1,20):
        li.append(i**2)
    print(li[5:])
printvalue()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [47]:
def printvalue():
    li=list()
    for i in range(1,20):
        li.append(i**2)
    print(tuple(li))
printvalue()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361)

In [50]:
t=(1,2,3,4,5,6,7,8,9,10)
t1=t[:5]
t2=t[5:]
print(t1)
print(t2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [55]:
tp=(1,2,3,4,5,6,7,8,9,10)
li=[]
for i in tp:
    if i%2==0:
        li.append(i)
tp2=tuple(li)
print(tp2)

(2, 4, 6, 8, 10)

In [59]:
s=input
if s=='yes'or s=='YES'or s=='Yes':
    print('YES')
else:
    print('No')

No

In [66]:
li=[1,2,3,4,5,6,7,8,9]
even=list(filter(lambda x:x%2==0,li))
print(even)

[2, 4, 6, 8]

In [67]:
li=[1,2,3,4,5,6,7,8,9]
odd=list(filter(lambda x:x%2!=0,li))
print(odd)

[1, 3, 5, 7, 9]

In [69]:
li=[1,2,3,4,5,6,7,8,9]
sqrt=list(map(lambda x:x ** 2,li))
print(sqrt)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
li=[1,2,3,4,5,6,7,8,9]
evenNumbers = list(map(lambda x: x**2, filter(lambda x: x%2==0, li)))
print (evenNumbers)

[4, 16, 36, 64]

In [3]:
evennumber=list(filter(lambda x:x%2==0,range(1,100)))
print(evennumber)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [10]:
li=[]
for i in range(2000,3000):
    if(i%5==0 and i%7!=0):
        print(i)

2000
2005
2010
2015
2020
2025
2035
2040
2045
2050
2055
2060
2070
2075
2080
2085
2090
2095
2105
2110
2115
2120
2125
2130
2140
2145
2150
2155
2160
2165
2175
2180
2185
2190
2195
2200
2210
2215
2220
2225
2230
2235
2245
2250
2255
2260
2265
2270
2280
2285
2290
2295
2300
2305
2315
2320
2325
2330
2335
2340
2350
2355
2360
2365
2370
2375
2385
2390
2395
2400
2405
2410
2420
2425
2430
2435
2440
2445
2455
2460
2465
2470
2475
2480
2490
2495
2500
2505
2510
2515
2525
2530
2535
2540
2545
2550
2560
2565
2570
2575
2580
2585
2595
2600
2605
2610
2615
2620
2630
2635
2640
2645
2650
2655
2665
2670
2675
2680
2685
2690
2700
2705
2710
2715
2720
2725
2735
2740
2745
2750
2755
2760
2770
2775
2780
2785
2790
2795
2805
2810
2815
2820
2825
2830
2840
2845
2850
2855
2860
2865
2875
2880
2885
2890
2895
2900
2910
2915
2920
2925
2930
2935
2945
2950
2955
2960
2965
2970
2980
2985
2990
2995

In [19]:
def fact(x):
    if x==0:
        return 1
    return x * fact(x-1)
x=int(input())
print(fact(x))

6
720

In [22]:
n=int(input('enter the number'))
d=dict()
for i in range(1,n+1):
    d[i]=i*i
print(d)

enter the number6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [23]:
n=input()
l=n.split(',')
t=tuple(l)
print(t)
print(l)

4
('4',)
['4']

In [26]:
def square(num):
    return num**2
print(square(2))
print(square(3))

4
9

In [28]:
def sumfunction(n1,n2):
    return(n1+n2)
sumfunction(2,3)

5

In [31]:
def printvalue(n):
    print(str(n))
printvalue(2)

2

In [33]:
def printvalue(s1,s2):
    print(int(s1)+int(s2))
printvalue('3','4')

7

In [35]:
def printvalue(s1,s2):
    print(s1+s2)
printvalue('2','3')

23

In [42]:
def printvalue(s1,s2):
    len1=len(s1)
    len2=len(s2)
    if(len1<len2):
        print(s1)
    elif(len2<len1):
        print(s2)
    else:
        print(s1)
        print(s2)
printvalue("one","nine")

one

In [47]:
def printvalue(n):
    if n%2==0:
        print("even number")
    else:
        print("odd number")
printvalue(11)

odd number

In [52]:
def printvalue():
    d=dict()
d[1]=1**2
d[2]=2**2
d[3]=3**2
print(d)
printvalue()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [56]:
def printvalue():
    d=dict()
    for i in range(1,21):
        d[i]=i**2
    print(d)
        
printvalue()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [59]:
def printvalue():
    d=dict()
    for i in range(1,20):
        d[i]=i**2
    for (k,v)in d.items():
        print(v,end=',')
printvalue()

1,4,9,16,25,36,49,64,81,100,121,144,169,196,225,256,289,324,361,

In [63]:
def printvalue():
    d=dict()
    for i in range(1,20):
        d[i]=i**2
        for k in d.keys():
             print(k)