In [73]:
print('i am going to inject %s.'% 'something')

i am going to inject something.

In [74]:
print('i went native %s  happen.'%'something will')

i went native something will  happen.

In [75]:
print('i am going to inject %s text here and %s text here.'%('some','more'))

i am going to inject some text here and more text here.

In [76]:
x,y='ash','jaan'
print('she said  his name was %s.'%'ash')

she said  his name was ash.

In [77]:
print('he said his name was %r.'%'jaan')

he said his name was 'jaan'.

In [78]:
print('i once caught a fish %s.'%'this  \tbag')

i once caught a fish this  	bag.

In [79]:
print('i once caught a fish %r.'%'this \tbag')

i once caught a fish 'this \tbag'.

In [80]:
print('i wrote program %s today.'%'3.75')

i wrote program 3.75 today.

In [81]:
print('i wrote program %d today.'%3.75)

i wrote program 3 today.

In [82]:
print('i ate %d chapati for brkfast.'%2)

i ate 2 chapati for brkfast.

In [83]:
print('floating point number %5.2f.'%13.222)

floating point number 13.22.

In [84]:
print('floating point number %1.5f.'%13.22)

floating point number 13.22000.

In [85]:
print('floating point number %1.0f.'%13.222)

floating point number 13.

In [86]:
print('first:%r,second:%1.2f,third:%r.'%('hi',13.1444,'bye'))

first:'hi',second:13.14,third:'bye'.

In [87]:
print('this is string with an {}'.format('insert'))

this is string with an insert

In [88]:
print('python is programming {}'.format('language'))

python is programming language

In [89]:
print('the {2} {1} {0}'.format('object oriented','is','python'))

the python is object oriented

In [90]:
print('first object:{a} second object:{b} third object:{c}'.format(a=1,b='hi',c=12.5))

first object:1 second object:hi third object:12.5

In [91]:
print('first:{p} second:{q} third:{r}'.format(p='hello',q='whats',r='up'))

first:hello second:whats third:up

In [92]:
print('A %s saved %s earned.'%('penny','penny'))

A penny saved penny earned.

In [93]:
print('a {p} saved {p} earned'.format(p='penny'))

a penny saved penny earned

In [94]:
print('{0:8} | {1:9}'.format('fruit','quantity'))

fruit    | quantity

In [95]:
print('{0:8} | {1:9}'.format('apple',3.23))

apple    |      3.23

In [96]:
print('{0:8} | {1:9}'.format('orange',2.56))

orange   |      2.56

In [98]:
print('{0:<8}  |  {1:^8} | {2:>8}'.format('left','center','right'))
print('{0:<8}  | {1:^8} | {2:>8}'.format(12,23,34))

left      |   center  |    right
12        |    23    |       34

In [100]:
print('{0:=<6} | {1:-^8} |{2:.>8}'.format('left','center','right'))
print('{0:<6} | {1:-^8} | {2:.>8}'.format('left','center','right'))

left== | -center- |...right
left   | -center- | ...right

In [103]:
print('this is my ten character,two decimal number:%10.2f' %13.222)

this is my ten character,two decimal number:     13.22

In [104]:
print('this is my ten_character,two_decimal number:{0:10.2f}'.format(13.576))

this is my ten_character,two_decimal number:     13.58

In [108]:
name='ash'
print(f'she said his name is {name}.')

she said his name is ash.

In [109]:
!r

'r' is not recognized as an internal or external command,
operable program or batch file.

In [111]:
print(f'she said his name is{name!r}')

she said his name is'ash'

In [115]:
name='ruhan'
print(f'he said his name is{name!r}')

he said his name is'ruhan'

In [119]:
num=23.456
print('my 10 character, four decimal number is:{0:10.4f}'.format(num))
print(f'my 10 character,four decimal number is:{num:{10}.{6}}')

my 10 character, four decimal number is:   23.4560
my 10 character,four decimal number is:    23.456

In [120]:
num=55.23456
print('my 10 character,four decimal number is:{0:10.4f}'.format(num))

my 10 character,four decimal number is:   55.2346

In [122]:
print(f'my 10 character,four decimal number is:{num:{10}.{4}}')

my 10 character,four decimal number is:     55.23

In [123]:
num=29.987
print('my 10 character,four decimal nymber is:{0:10.4f}'.format(num))

my 10 character,four decimal nymber is:   29.9870

In [125]:
print(f'my 10 character,four decimal number is:{num:{10}.{4}}')

my 10 character,four decimal number is:     29.99

In [126]:
my_list=[1,2,3]

In [127]:
my_list

[1, 2, 3]

In [128]:
my_list=['s',1,2,3,4,5,'he']

In [129]:
len(my_list)

7

In [130]:
my_list=[1,2,3,4,5,6,7]

In [131]:
my_list[0]

1

In [133]:
my_list[1:]

[2, 3, 4, 5, 6, 7]

In [134]:
my_list[:2]

[1, 2]

In [135]:
my_list[:4]

[1, 2, 3, 4]

In [136]:
my_list[4:]

[5, 6, 7]

In [137]:
my_list[:-4]

[1, 2, 3]

In [138]:
my_list[-3:]

[5, 6, 7]

In [139]:
my_list[2:]

[3, 4, 5, 6, 7]

In [140]:
my_list[:3]

[1, 2, 3]

In [141]:
my_list[:-1]

[1, 2, 3, 4, 5, 6]

In [142]:
my_list[:-2]

[1, 2, 3, 4, 5]

In [143]:
my_list[:-3]

[1, 2, 3, 4]

In [144]:
my_list[-3:]

[5, 6, 7]

In [145]:
my_list[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [146]:
my_list[-1::]

[7]

In [147]:
my_list[-2::]

[6, 7]

In [148]:
my_list +['new item']

[1, 2, 3, 4, 5, 6, 7, 'new item']

In [149]:
my_list

[1, 2, 3, 4, 5, 6, 7]

In [150]:
my_list=my_list +['new item permanently']

In [151]:
my_list

[1, 2, 3, 4, 5, 6, 7, 'new item permanently']

In [156]:
my_list * 2
print(my_list*2,end=' ')

[1, 2, 3, 4, 5, 6, 7, 'new item permanently', 1, 2, 3, 4, 5, 6, 7, 'new item permanently']

In [157]:
my_list

[1, 2, 3, 4, 5, 6, 7, 'new item permanently']

In [158]:
list=[1,2,3]
list.append('append me')

In [159]:
list

[1, 2, 3, 'append me']

In [160]:
list.pop(0)

1

In [161]:
list.pop(1)

3

In [165]:
popped_item=list.pop()

In [166]:
popped_item

'append me'

In [167]:
list

[2]

In [168]:
new_list=['a','b','c','d','e']

In [169]:
new_list

['a', 'b', 'c', 'd', 'e']

In [170]:
new_list.reverse()

In [171]:
new_list

['e', 'd', 'c', 'b', 'a']

In [172]:
new_list.sort()

In [173]:
new_list

['a', 'b', 'c', 'd', 'e']

In [174]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
matrix=[list1,list2,list3]

In [175]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [176]:
matrix[0]

[1, 2, 3]

In [177]:
matrix[0][0]

1

In [178]:
matrix[1][0]

4

In [179]:
fst_column=[row[1] for row in matrix]

In [180]:
fst_column

[2, 5, 8]

In [182]:
fst_row=[column[0] for column in matrix]

In [183]:
fst_row

[1, 4, 7]

In [185]:
my_dict={'key1':'value1','key2':'value2'}
my_dict['key1']

'value1'

In [191]:
my_dict={'key1':123,'key2':[12,13,14],'key3':['item1','item2','item3']}

In [192]:
my_dict['key3']

['item1', 'item2', 'item3']

In [193]:
my_dict['key3'][0]

'item1'

In [196]:
my_dict['key3'][0].upper()

'ITEM1'

In [198]:
my_dict['key1']=my_dict['key1']-123

In [199]:
my_dict

{'key1': 0, 'key2': [12, 13, 14], 'key3': ['item1', 'item2', 'item3']}

In [200]:
d={}

In [201]:
d['animal']='dog'

In [202]:
d['answer']='42'

In [203]:
d

{'animal': 'dog', 'answer': '42'}

In [204]:
d['student']='book'

In [205]:
d['question']='answer'

In [206]:
d

{'animal': 'dog', 'answer': '42', 'student': 'book', 'question': 'answer'}

In [207]:
d={'key':{'nestkey':{'subnestkey':'value'}}}

In [208]:
d['key']['nestkey']['subnestkey']

'value'

In [210]:
d={'key1':1,'key2':2,'key3':3}

In [213]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [214]:
d.values()

dict_values([1, 2, 3])

In [215]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [217]:
t=(1,2,3)

In [218]:
len(t)

3

In [219]:
t=('ones',4)

In [220]:
t

('ones', 4)

In [221]:
t[0]

'ones'

In [222]:
t[-1]

4

In [224]:
t.index('ones')

0

In [226]:
t.index(4)

1

In [227]:
t.count('one')

0

In [228]:
x=set()

In [230]:
x.add(1)

In [231]:
x

{1}

In [233]:
x.add(2)

In [234]:
x

{1, 2}

In [235]:
z=set()

In [236]:
z.add(1)

In [237]:
z

{1}

In [238]:
z.add(2)

In [239]:
z

{1, 2}

In [240]:
y=set()

In [241]:
y.add(1)

In [242]:
y

{1}

In [243]:
y.add(2)

In [244]:
y

{1, 2}

In [245]:
list1=[1,2,3,4,5,6,7,7,8,9]

In [246]:
set(list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [247]:
a=True

In [248]:
a

True

In [249]:
1>2

False

In [250]:
1<2

True

In [251]:
b=('None')

In [252]:
print(b)

None

In [253]:
my_dogs=2

In [254]:
my_dogs

2

In [255]:
my_dogs=['samie','franky']

In [256]:
my_dogs

['samie', 'franky']

In [262]:
a=5
a

5

In [261]:
a=10

In [259]:
a

10

In [263]:
a=a+10

In [264]:
a

15

In [265]:
a+a

30

In [266]:
a=a+10

In [267]:
a

25

In [268]:
a+=10

In [269]:
a

35

In [270]:
a*=2

In [271]:
a

70

In [272]:
type(a)

int

In [273]:
a=(1,2)

In [274]:
a

(1, 2)

In [275]:
type(a)

tuple

In [276]:
my_income=100
tax_rate=0.1
incom_tax=100*0.1

In [277]:
incom_tax

10.0

In [278]:
1+2

3

In [279]:
2-1

1

In [280]:
3*2

6

In [281]:
4//2

2

In [282]:
7%4

3

In [283]:
2**3

8

In [284]:
4**4

256

In [285]:
6**6

46656

In [286]:
6*6

36

In [287]:
4*0.5

2.0

In [288]:
2+10*10+2

104

In [289]:
(2+10)*(10+2)

144

In [290]:
a=5

In [291]:
a

5

In [292]:
a+a

10

In [293]:
a+10

15