In [1]:
2+2

4

In [2]:
1/2

0.5

In [3]:
1%2

1

In [4]:
10/3

3.3333333333333335

In [5]:
2.75%0.5

0.25

In [6]:
2 ** 3

8

In [7]:
2+3 * 5+5

22

In [8]:
(2+3)*(5+5)

50

In [9]:
x=3
y=2
z=x+y

In [10]:
z

5

In [11]:
'single quotes'

'single quotes'

In [12]:
"double quotes"

'double quotes'

In [13]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

In [14]:
s='hello'
s[0]

'h'

In [15]:
s[3]

'l'

In [16]:
s[2:4]

'll'

In [17]:
x='hello'
x

'hello'

In [18]:
print(x)

hello

In [19]:
num=12
name='sam'
print('my number is:{one},my name is:{two}'.format(one=num,two=name))

my number is:12,my name is:sam

In [20]:
print('my number is:{},my name is:{}'.format(num,name))

my number is:12,my name is:sam

In [21]:
[1,2,3]

[1, 2, 3]

In [22]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [23]:
my_list=['a','b','c']
my_list.append('d')

In [24]:
my_list

['a', 'b', 'c', 'd']

In [25]:
my_list[0]

'a'

In [26]:
my_list[1]

'b'

In [27]:
my_list[:1]

['a']

In [28]:
my_list[0]='new'
my_list

['new', 'b', 'c', 'd']

In [29]:
nest=[1,2,3,[4,5,['target']]]
nest

[1, 2, 3, [4, 5, ['target']]]

In [30]:
nest[3]

[4, 5, ['target']]

In [31]:
nest[3][2][0]

'target'

In [32]:
nest[3][2]

['target']

In [33]:
d={'key1':'item','key2':'item2'}
d

{'key1': 'item', 'key2': 'item2'}

In [35]:
d['key2']
d

{'key1': 'item', 'key2': 'item2'}

In [36]:
True

True

In [37]:
False

False

In [38]:
t=[1,2,3]
t[0]

1

In [39]:
{1,2,3}

{1, 2, 3}

In [40]:
{1,2,3,1,2,1,1,2,3,1,2,1,1,2,3,1,2,1}

{1, 2, 3}

In [41]:
1>2

False

In [42]:
1<2

True

In [43]:
1<=4

True

In [44]:
1>=4

False

In [45]:
1==1

True

In [46]:
'hi'=='bye'

False

In [47]:
(1>2) and (2<3)

False

In [48]:
(1<2) or (2<3)

True

In [49]:
(1==2) or (2==3) or (3==4)

False

In [50]:
(1==1) or (2==2) or (3==3)

True

In [51]:
True or False

True

In [52]:
True and False

False

In [54]:
if 1<2:
    print('yep:')

yep:

In [60]:
if 1<2:
    print('first')
else:
    print('last')

first

In [61]:
if 1>2:
    print('first')
else:
    print('last')

last

In [64]:
if 1==2:
    print('first')
elif 3==3:
    print('middle')
else:
    print('last')

middle

In [66]:
seq=[1,2,3,4,5,6]
for i in seq:
     print('yep')

yep
yep
yep
yep
yep
yep

In [67]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10
12

In [1]:
i=1
while i<5:
    print('i is:{}'.format(i))
    i=i+1

i is:1
i is:2
i is:3
i is:4

In [2]:
range(5)

range(0, 5)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

In [5]:
x = [1,2,3,4]

In [8]:
out=[]
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [9]:
[item**2 for item in x]

[1, 4, 9, 16]

In [10]:
def my_func(param='default'):
    print(param)

In [11]:
my_func

In [12]:
my_func()

default

In [13]:
my_func('new param')

new param

In [14]:
my_func(param='new param')

new param

In [15]:
def square(x):
    return x**2

In [16]:
out=square(2)
print(out)

4

In [17]:
def times2(var):
    return var*2

In [18]:
times2(2)

4

In [19]:
lambda var:var*2

In [20]:
seq=[1,2,3,4]

In [21]:
map(times2,seq)

In [22]:
list(map(times2,seq))

[2, 4, 6, 8]

In [23]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8]

In [24]:
filter(lambda item:item%2==0,seq)

In [25]:
list(filter(lambda item:item%2==0,seq))

[2, 4]

In [26]:
st='hello my name is sam'
st.lower()

'hello my name is sam'

In [27]:
st.upper()

'HELLO MY NAME IS SAM'

In [28]:
st.split()

['hello', 'my', 'name', 'is', 'sam']

In [31]:
tweet='go sports:#sports'
tweet.split('#')

['go sports:', 'sports']

In [2]:
d={'key1':'item1','key2':'item2'}

In [3]:
d

{'key1': 'item1', 'key2': 'item2'}

In [4]:
d.keys()

dict_keys(['key1', 'key2'])

In [5]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [6]:
d.values()

dict_values(['item1', 'item2'])

In [7]:
lst=[1,2,3]

In [8]:
lst.pop()

3

In [9]:
lst

[1, 2]

In [10]:
'x' in [1,2,3]

False

In [11]:
'x' in ['x','y','z']

True

In [12]:
x=[(1,2),(3,4),(5,6)]
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6